@import "tailwindcss";

.moving-logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: slideAcross 8s linear forwards;
}

@keyframes slideAcross {
  0% {
    transform: translate(-350px, -50%);
  }
  100% {
    transform: translate(calc(100vw + 350px), -50%);
  }
}
